<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
          <%  if user_signed_in? %>
              <h2>Welcome <%= current_user.first_name %> </h2>
          <% else %>
               <h2> Welcome To Friend Debts! </h2>
            <%end%>
             <ul class="nav navbar-nav">
               <li> <%= link_to 'Home', root_path %> </li> 
               <li> <%= link_to 'About Us', about_path %> </li> 
               <li> <%= link_to 'Write Us', new_feedback_path %> </li>
               <li> <%= link_to 'Blog Post', blog_path %> </li>  
             </ul>
        </div>

          <ul class="nav navbar-nav navbar-right">
              <%  if user_signed_in? %>
            <li> <%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
            <li> <%= link_to 'Add Debt', new_user_debt_path(@user) %> </li>
            <li> <%= link_to 'My Debts', user_debts_path(@user) %> </li>
            <li> <%= link_to 'Profile', user_accounts_path(@user) %> </li>
            <div class="badge"
              <%= link_to 'New Debts', user_accounts_path(@user) %>
            </div>
              <% else %>
            <li> <%= link_to 'Get Started', new_user_session_path %> </li>
              <%end%>
          </ul>
    </div>
</nav>